.container {
  width: 1400px;
  height: 800px;
  flex-shrink: 0;
  margin: 0 auto;
}

.header {
padding: 20px;
display: flex;
justify-content: space-between;
flex-direction: column;
background-color: #979797;
margin-bottom: 200px;
}

.nav {
  font-family: "Source Sans Pro", sans-serif;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-it {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  margin: 0 2rem 0 0;  
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.main-text {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 0;
  height: 313px;
  flex-shrink: 0;
  background-color: #979797;
}

.main-head {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-box {
  height: 20px;
  width: 355px;
  color: #FFF;
}

.button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #FF6565;
  text-transform: uppercase;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
  border: none;
}

.button-bg:hover {
  opacity: 0.9;
  background-color: #FF6565;
}

.new-text-box {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 637px;
}

.main-head {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.what-we-do {
  display: flex;
  width: 637px;
  height: 184px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icons {
  width: 1002px;
  height: 193px;
  flex-shrink: 0;
  background-color: red;
}

.dark {
  width: 1400px;
  height: 650px;
  flex-shrink: 0;
}

.contact-us {
  width: 335px;
  height: 373px;
  flex-shrink: 0;
  border-color: #000000;
}

.footer {
  width: 1400px;
  height: 249px;
  flex-shrink: 0;
  background-color: blue
}